<!DOCTYPE html>
<html>
  <head>
    <title>WhatsUpp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# <link href='https://cdn.lineicons.com/1.0.1/LineIcons.min.css' rel='stylesheet'> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
